body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 8;
	background-color: green;
}

.header-title {
	display: flex;
	color: white
}

.header-actions {
	display: flex;
	justify-content: flex-end;
}

.content {
	display: flex;
	flex-direction: row;
	flex: 1 100%;
	margin: 8;
}

.input {
	display: flex;
	flex-direction: column;
	flex-basis: 33%;
}

#input-textarea {
	height: 100%;
}

.input-actions {
	display: flex;
	justify-content: flex-end;
	padding-top: 8;
}

.output {
	flex-basis: 60%;
	/* following configs are for being a flex container itself */
	display: flex;
	align-items: center;
	flex-direction: column;
}